/* /styles/misc/starfield.css */
.starfield-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  background: var(--dark) 
}

.star {
  position: absolute;
  background: #ffcc00;
  width: 2px;
  height: 2px;
  opacity: 0;
  animation: twinkle 2s infinite;
}
